ul{
    list-style-type: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 24px;
}
.left_menu{
    display: flex;
}

li a{
    text-decoration: none;
    color: #2F2643;
    margin-left: 61px;
}
li{
    float:left;
}

li a:hover{
    background-color: red;
}
.active{
    background-color: rgb(229, 255, 0);
}

.navigation{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 255, 0.1);
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
}

.right_menu{
    padding-left: 124px;
    padding-right: 124px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.right_menu a{
    text-decoration: none;
}
.logobar img{
    margin-left: 126px;
    margin-top: 9px;
}
.zoma{
    padding:35px;
    color:black;
}
.zoma1{
    background: #FF707A;
    border-radius: 4px;
    border: solid 2px #FF707A;
    padding: 10px 18px 10px 18px;
    color: white;
}
.yuti1{
        text-align: center;
        margin-top: 136px;
}       
.yuti h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    text-align: center;
    color: #190E2F;
}

.yuti1 h3{
    font-weight: 500;
    font-size: 21px;
    line-height: 103%;
    color: #190E2F;
    margin-top: 30px;
}
.zoma2{
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
    background: #FF707A;
    border-radius: 4px;
    text-decoration: none;
    padding: 14px 27px 15px 26px;
    margin-top: 32px;
}
.yuti1 p{
    margin-top: 12px;
}
.centerphoto{
  display: flex;
  justify-content: center;
}
.centerphoto img{
    width: 951px;
    height: 444px;
}
.yuti2{
    text-align: center;
}

.yuti2 h1{
    font-weight: 700;
    font-size: 54px;
    line-height: 120%;
}
.boxebi{
    display:flex;
    justify-content: center;
}
.a1, .a2, .a3{
    height: 120px;
    width: 232px;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px -2px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin-left: 32px;
    margin-right: 32px;
    box-sizing: border-box;
    display: flex;
}
.a1 p, .a2 p, .a3 p{
    margin:20px;
}
.b1{
    margin-top: 20px;
    margin-left: 25px;
}
.a1 img, .a2 img, .a3 img{
    height: 32px;
    width: 13.63px;
    
}
.a1{
    border-top:solid 6px #FF707A;
}

.a2{
    border-top:solid 6px #F5B118;  
}

.a3{
    border-top:solid 6px #00AEDC;
}
.startnow{
    text-align: center;
    margin-top: 56px;
}.startnow a{
    text-decoration: none;
    color: #FFFFFF; 
    background: #FF707A;
    border-radius: 4px;
    text-decoration: none;
    padding: 14px 27px 15px 26px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.text4{
    margin-top: 56px;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: #190E2F;
    text-align: center;
}
.main{
    margin-top: 136px;
    margin-left: 166px;
    margin-right: 145px;
    display: flex;
    justify-content: space-evenly;
}
.main1 a{
    text-decoration: none;
    color:#00AEDC;
}
.destination{
    display: flex;
    justify-content: space-evenly;
    margin-top: 229px;
    margin-left: 88px;
    margin-right: 123px;

}
.destination h2{
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 120%;
    color: #190E2F;
}
.destination img{
    max-width: 529px;
    height: 360px;
}

.destination a{
    color: #FF707A;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-decoration: underline;
}
.benefit-main{
    display: flex;
    justify-content: space-evenly;
    margin-left: 86px;
    margin-right: 150px;
}
.benefit1{
    display: flex;
    align-items: center;
}
.benefit1 a{
    text-decoration: none;
    color:#00AEDC;
    margin-right: 15.5px;
}

.trusted-text{
    margin-left: 135;
    margin-right: 137;
}
.trusted-text h1{
    text-align: center;
}
.comentarebi{
    justify-content: space-evenly;
    display: flex;
    margin-top: 65px;
    background: #FFFFFF;
}
.comentarebi1{
    box-shadow: 0px 4px 40px -2px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}
.comentarebi p{
    margin:20px;
}
.comentarebi img{
    margin-top: 20px;
    margin-left: 20px;
}
.free{
    text-align: center;
    margin-top: 152px;
}

.free1{
    text-align: center;
    margin-top: 25px;
}

.free2{
    text-align: center;
    margin-top: 48px;
    color:#F77881;
}

.free3{
    justify-content: center;
    display: flex;
}
.button{
    text-align: center;
    margin-top: 50px;
}

.button a{
    text-decoration: none;
    padding: 16px 47px 16px 47px;
    background-color:#FF707A;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 4px;
}
.divcontainer{
    margin-top: 102px;
    height:487px;
    width: 100%;
    background-color: #474F5A;
    display: flex;
    justify-content: space-evenly;
}

.div1{
    margin-top: 66.87px;
    margin-left: 181px;
    margin-right: 185;
}

.div1 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 210%;
    text-transform: capitalize;
    color: #DBE3E6;
}
body{
    margin: 0;
}
/* contact */
.contact{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #FF707A;
    margin-left: 250px;
    margin-top: 150px;
}
.contact1 h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    margin-top: 32px;
}
form label, input{
    display: block;
    color: black;
}
.absolute{
    height: 350px;
    width: 300px;
    background-color: rgba(196, 196, 196, 0.432);
    justify-content: center;
    align-items: center;
    display: flex;

}

.subcolor{
    background-color:  #FF707A;
    padding: 10px;
    font-size: 18px;
    color: #FFFFFF;
}
.mtavari{
    display: flex;
    justify-content: center;

}
/*news*/
.blog{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #F77881;
    margin-left: 16%;
    margin-top: 150px;
}
.blog1{
  justify-content: center;
  display: flex;
  margin-top: 70px;
}
.blog_text{
    text-align: center; 
}
.blog_text a{
    text-decoration: none;
    color: #00AEDC;
}
.blog1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 190px;
}

.btimg{
    width: 148px;
    height: 100px;
}

.blog1_right{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.blog1_right p{
    margin-left: 86px;
    margin-top: 64px;
}
/* about */
.about{
    display: flex;
    justify-content: space-evenly;
    margin-right: 106px;
    margin-left: 125px;
    margin-top: 153px;
}
.about h1{
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
    color: #190E2F;
}
.about a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FF707A;
}
.vaxoimg img{
    height: 386.91px;
    width: 495px;
    margin-top: 40px;
}
.like{
    justify-content: center;
    display: flex;
    margin-top: 213px;
    margin-left: 129px;
    margin-right: 68px;
}

.like_img img{
    width: 483px;
    height: 399.13px;
}
.like1{
    margin-left: 280px;
}

.like1 a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #FF707A;
}
.comingsoon{
    justify-content: space-evenly;
    display: flex;
    margin-top: 200px;
}

.comingsoon a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FF707A;
    padding: 12px 21px 12px 21px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 8px;
}
.biling{
    justify-content: space-evenly;
    display: flex;
    margin-top: 200px;
}

.bilingimg img{
    width: 495px;
    height: 416px;
}

.bilingtext a{
    text-decoration: none;
    font-size: 18px;
    color: #FF707A;
}

.numeracia{
    display: flex;
    align-items: center;
}
.b2{
    margin-right: 7px;
}
.manage{
    justify-content: space-evenly;
    display: flex;
    margin-top: 200px;
}

.manageimg img{
    width: 543px;
    height: 412px;
}

.managetext a{
    text-decoration: none;
    font-size: 18px;
    line-height: 27px;
    color: #FF707A;
}
.meet{
    justify-content: space-evenly;
    display: flex;
    margin-top: 207px;
}

.meettext a{
    text-decoration: none;
    font-size: 18px;
    color: #FF707A;
}
.run{
    justify-content: space-evenly;
    display: flex;
    margin-top: 148px;
}
.runtext a{
    text-decoration: none;
    font-size: 18px;
    color: #FF707A;
}
.runimg img{
    width: 464px;
    height: 444.74px;
}
.yuti{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    background: #FF707A;
    margin-bottom: -102px;
}

.yuti h1{
    color: #FFFFFF;
}

.yuti a{
    background: #FFFFFF;
    border-radius: 4px;
    padding: 16px 48px 16px 48px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FF707A;
    margin-left: 33px;
}